.zoom-level {
  margin: 0 10px;
  min-width: 40px;
  text-align: center;
}

.menu {
  color: #FFF;
  background: rgba(0, 135, 140, 1);
  font-size: 28px; // Размер имени файла

  .menu-items {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    z-index: 100;
    font-size: 16px; // Размер текстовок кнопок

    button {
      margin: 0 5px;
    }
  }
}