<mat-toolbar color="primary" class="menu">
    <span [innerText]="document.name"></span>

    <div class="menu-items">
        <span class="zoom-level" [innerText]="zoomLevel"></span>
        <button matMiniFab (click)="zoomIn()" title="Увеличить масштаб">
            <mat-icon>add</mat-icon>
        </button>
        <button matMiniFab (click)="zoomOut()" title="Уменьшить масштаб">
            <mat-icon>remove</mat-icon>
        </button>
        <button matButton="tonal" (click)="saveAnnotations()" title="Сохранить">Save</button>
    </div>
</mat-toolbar>

<div class="document-container">
    <div class="image-container" #imageContainer (click)="startAddAnnotation($event)">
        <img *ngFor="let page of document.pages" [src]="'/assets/' + page.imageUrl" [alt]="'Page ' + page.number"
            [style.transform]="'scale(' + zoomScale + ')'">

        <!-- Аннотации -->
        <div *ngFor="let annotation of annotations; trackBy: trackByAnnotationId" class="annotation"
            [style.left.px]="annotation.position.x" [style.top.px]="annotation.position.y">
            <div class="annotation-text">{{ annotation.text }}</div>
            <button matMiniFab class="delete-btn" (click)="deleteAnnotation(annotation.id); $event.stopPropagation()">
                <mat-icon aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
            </button>
        </div>

        <!-- Новая аннотация -->
        <div *ngIf="isAddingAnnotation" class="annotation-form" [style.left.px]="currentPosition.x"
            [style.top.px]="currentPosition.y">
            <input matInput appAutoFocus [(ngModel)]="newAnnotationText" maxlength="21" placeholder="Введите аннотацию"
                (keydown.enter)="addAnnotation()" />
        </div>
    </div>
</div>