<mat-toolbar color="primary" class="menu">
    <span [innerText]="document.name"></span>

    <div class="menu-items">
        <span class="zoom-level" [innerText]="zoomLevel"></span>
        <button matMiniFab (click)="zoomIn()" title="Увеличить масштаб">
            <mat-icon>add</mat-icon>
        </button>
        <button matMiniFab (click)="zoomOut()" title="Уменьшить масштаб">
            <mat-icon>remove</mat-icon>
        </button>
        <button matButton="tonal" (click)="saveAnnotations()" title="Сохранить">Save</button>
    </div>
</mat-toolbar>

<app-image-annotator *ngFor="let page of document.pages" [currentPage]="page" [zoomScale]="zoomScale" (annotationChanged)="annotation($event)">
</app-image-annotator>